a { text-decoration:none !important }
a:hover { text-decoration:none !important }


.login-container{
    margin-top: 50px;
    text-align: center;
}

.login-form{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    padding:15px,15px,15px,15px;
}

#social-login{
    width: 510px;
    margin-left:auto;
    margin-right:auto;
}

#btn-login,#btn-signIn{
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}
#btn-signIn{
    margin-top: 10px;
}